@media only screen and ( max-width: 1440px){
    .containerServicios{
        width: 80vw;
        margin-left: 10vw;
        margin-right: 10vw;
}
}
@media only screen and ( max-width: 1024px){
    
}